#forest-rose {
    text-align: center;
}
#forest-rose-1 {
    background-color: #EBBAB9;
    color: white;
    text-align: center;
    padding: 24px;
}
#forest-rose-2 {
    background-color: #C9C5BA;
    color: white;
    text-align: center;
    padding: 24px;
}
#forest-rose-3 {
    background-color: #97B1A6;
    color: white;
    text-align: center;
    padding: 24px;
}

#coastal-hues {
    text-align: center;
    margin-top: 60px;
}
#coastal-hues-1 {
    background-color: #437C90;
    color: white;
    text-align: center;
    padding: 24px;
}
#coastal-hues-2 {
    background-color: #255957;
    color: white;
    text-align: center;
    padding: 24px;
}
#coastal-hues-3 {
    background-color: #EEEBD3;
    color: darkslategrey;
    text-align: center;
    padding: 24px;
}

#beach-day {
    text-align: center;
    margin-top: 60px;
}
#beach-day-1 {
    background-color: #0FA3B1;
    color: white;
    text-align: center;
    padding: 24px;
}
#beach-day-2 {
    background-color: #B5E2FA;
    color: white;
    text-align: center;
    padding: 24px;
}
#beach-day-3 {
    background-color: #F9F7F3;
    color: darkslategrey;
    text-align: center;
    padding: 24px;
}
#beach-day-4 {
    background-color: #EDDEA4;
    color: darkslategrey;
    text-align: center;
    padding: 24px;
}